{% extends "layout.html" %}

{% block body %} 
    <h1>{{ destination.name }}</h1>
    
    <i> {{ destination.description }}</i><br />
    <br />
    <h4>{{ destination.rating }}</h4><br />
    
    <form method="POST" action="{{ url_for('destinations_delete', destination_id=destination.id) }}" id="changeform">
        <table>
            <tr>
                <td colspan="2">
                        {{ form.submitDelete }}
                </td>
            </tr>
        </table>
    </form><br />

    <a href="{{ url_for('destinations_one_change', destination_id=destination.id) }}">Change data</a>
{% endblock %}
