{% extends "layout.html" %}

{% block body %}
    <center><h3>Destinations</h3></center>
    <br />

    <center><p>
        Here you can find our finest selection of <font color=#ff9900>destinations</font> for your dream holiday. <br>Let your eyes flow, trust your guts and <font color=#ff9900>go for it</font>!
    </p></center>
    <br />
    <br />
    <form method="POST" action="{{ url_for('destinations_search') }}">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit" class="btn btn-default">
            <font color=#ff9900><span class="glyphicon glyphicon-search"></span></font>
        </button>
    </form>
    {% if error|length > 0 %}
        <center>{{ error }}</center>
    {% endif %}
    <br />
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    <span class="glyphicon glyphicon-plane"></span> Destination
                </th>
                <th scope="col">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Likes
                </th>
            </tr>
        </thead>
        <tbody>
            {% for destination in destinations %}
                {% if not destination.unavailable %}
                    <tr>
                        <td><a href="{{ url_for('destinations_one', destination_id=destination.id) }}">{{ destination.name }}</a></td>
                        <td>{{ destination.likes }}</td>
                    </tr>
                {% else %}
                    {% if user.username == "admin" %}
                        <tr>
                            <td>
                                <a href="{{ url_for('destinations_one', destination_id=destination.id) }}">{{ destination.name }}</a>
                                <font color=#ff9900>(Unavailable)</font>
                            </td>
                            <td>{{ destination.likes }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
