{% extends "layout.html" %}

{% block body %}
    <center><h3>Destinations</h3></center>
    <br />

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    <span class="glyphicon glyphicon-plane"></span> Destination
                </th>
                <th scope="col">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Likes
                </th>
            </tr>
        </thead>
        <tbody>
            {% for destination in destinations %}
            <tr>
                <td><a href="{{ url_for('destinations_one', destination_id=destination.id) }}">{{ destination.name }}</a></td>
                <td>{{ destination.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
