venv
/application/__pycache__
/application/destinations/__pycache__
/application/accomodations/__pycache__
/application/roomtypes/__pycache__
/application/auth/__pycache__
/application/bookings/__pycache__
/application/likes/__pycache__
.DS_Store
destination.db
