{% extends "layout.html" %}

{% block body %} 
    <a class="btn btn-default btn-lg" href="{{ url_for('destinations_one', destination_id=destination.id) }}">
        <font color=#ff9900><span class="glyphicon glyphicon-arrow-left"></span></font> {{ destination.name }}
    </a>

    <h1>{{ accomodation.name }}</h1>

    {% if accomodation.unavailable %}
        <h4><font color=#ff9900>(Unavailable)</font></h4>
        <br />
    {% endif %}

    <i> {{ accomodation.description }}</i><br />
    <br />

    {% if accomodation.pool %}
        <span class="glyphicon glyphicon-tint"></span>
    {% endif %}
    {% if accomodation.spa %}
        <span class="glyphicon glyphicon-certificate"></span>
    {% endif %}
    {% if accomodation.gym %}
        <span class="glyphicon glyphicon-heart-empty"></span>
    {% endif %}
    {% if accomodation.restaurant %}
        <span class="glyphicon glyphicon-cutlery"></span>
    {% endif %}

    <h4><span class="glyphicon glyphicon-thumbs-up"></span> <font color=#ff9900>{{ likes }}</font></h4><br />

    {% if user.is_authenticated and (user.username != "admin") %}
        {% if liked == 0 %}
            <form method="POST" action="{{ url_for('accomodations_like', accomodation_id=accomodation.id) }}" id="likeform">
                <table>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-thumbs-up"></span> <font color=#ff9900>Like</font>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            You have already <font color=#ff9900>liked</font>
        {% endif %}
    <br />
    {% endif %}
    <br />
    <br />
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    <span class="glyphicon glyphicon-bed"></span> Room-type
                </th>
                <th scope="col">
                    <span class="glyphicon glyphicon-eye-open"></span> Person(s)
                </th>
                <th scope="col">
                    <span class="glyphicon glyphicon-eur"></span> Price/night
                </th>
                <th scope="col">
                    <span class="glyphicon glyphicon-list-alt"></span> Features
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for roomtype in roomtypes %}
                {% if not roomtype.unavailable %}
                    <tr>
                        <td>
                            {{ roomtype.name }}
                            {% if (not accomodation.unavailable) and user.is_authenticated and (user.username == "admin") and (roomtype.booked == 0) %}
                                <form method="POST" action="{{ url_for('roomtypes_delete_one', accomodation_id=accomodation.id, roomtype_id=roomtype.id) }}">
                                    <button type="submit">
                                        <font color=#ff9900><span class="glyphicon glyphicon-trash"></span></font>
                                    </button>
                                </form>
                            {% endif %}    
                        </td>
                        <td>{{ roomtype.size }} person(s)</td>
                        <td>
                            <script>
                                var x = {{ roomtype.price }};
                                var y = {{ accomodation.pricelevel }}
                                multiplyNumbers(x, y);
                            </script>
                            €
                        </td>
                        <td>
                            {% if roomtype.seaside_view %}
                                <span class="glyphicon glyphicon-picture"></span>
                            {% endif %}
                            {% if roomtype.air_conditioned %}
                                <span class="glyphicon glyphicon-refresh"></span>
                            {% endif %}
                            {% if roomtype.mini_bar %}
                                <span class="glyphicon glyphicon-glass"></span>
                            {% endif %}
                            {% if roomtype.tv %}
                                <span class="glyphicon glyphicon-film"></span>
                            {% endif %}
                            {% if roomtype.bath %}
                                <span class="glyphicon glyphicon-tint"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_authenticated %}
                                {% if roomtype.many > roomtype.booked and (user.username != "admin") %}
                                    <a class="btn btn-default btn-lg" href="{{ url_for('bookings_form', destination_id=destination.id, accomodation_id=accomodation.id, roomtype_id=roomtype.id) }} ">
                                        <font color=#ff9900><span class="glyphicon glyphicon-send"></span></font> Book
                                    </a>
                                {% elif roomtype.many == roomtype.booked %}
                                    <span class="glyphicon glyphicon-exclamation-sign"></span><font color=#ff9900><b> Fully Booked</b></font>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    {% if user.username == "admin" %}
                        <tr>
                            <td>
                                {{ roomtype.name }}
                                <font color=#ff9900>(Unavailable)</font>
                            </td>
                            <td>{{ roomtype.size }} person(s)</td>
                            <td>{{ roomtype.price }}€</td>
                            <td>
                                {% if roomtype.seaside_view %}
                                    <span class="glyphicon glyphicon-picture"></span>
                                {% endif %}
                                {% if roomtype.air_conditioned %}
                                    <span class="glyphicon glyphicon-refresh"></span>
                                {% endif %}
                                {% if roomtype.mini_bar %}
                                    <span class="glyphicon glyphicon-glass"></span>
                                {% endif %}
                                {% if roomtype.tv %}
                                    <span class="glyphicon glyphicon-film"></span>
                                {% endif %}
                                {% if roomtype.bath %}
                                    <span class="glyphicon glyphicon-tint"></span>
                                {% endif %}
                            </td>
                            <td>
                                <font color=#ff9900>Not on sale</font>
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table><br />
    <br />
    <br />
    <p>
        <span class="glyphicon glyphicon-tint"></span> = Pool 
        <span class="glyphicon glyphicon-certificate"></span> = Spa 
        <span class="glyphicon glyphicon-heart-empty"></span> = Gym 
        <span class="glyphicon glyphicon-cutlery"></span> = Restaurant
    </p>
    <p> 
        <span class="glyphicon glyphicon-picture"></span> = Seaside-view 
        <span class="glyphicon glyphicon-refresh"></span> = Air-conditioned 
        <span class="glyphicon glyphicon-glass"></span> = Mini-bar 
        <span class="glyphicon glyphicon-film"></span> = Tv 
        <span class="glyphicon glyphicon-tint"></span> = Bath
    </p>
    <br />

    {% if user.is_authenticated and (user.username == "admin") %}
        {% if not accomodation.unavailable %}
            {% if bookings == 0 %}
                <form method="POST" action="{{ url_for('accomodations_delete', destination_id=destination.id, accomodation_id=accomodation.id) }}" id="deleteform">
                    <table>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            {% endif %}
            <form method="POST" action="{{ url_for('accomodations_unavailable', destination_id=destination.id, accomodation_id=accomodation.id) }}" id="unavailableform">
                <table>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
            <table>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-default btn-lg" href="{{ url_for('accomodations_one_change', accomodation_id=accomodation.id) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a class="btn btn-default btn-lg" href="{{ url_for('accomodations_roomtypes', accomodation_id=accomodation.id) }}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </td>
                </tr>
            </table>
        {% else %}
            <form method="POST" action="{{ url_for('accomodations_available', destination_id=destination.id, accomodation_id=accomodation.id) }}" id="availableform">
                <table>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        {% endif %}
    {% endif %}

{% endblock %}