{% extends "layout.html" %}
  
{% block body %}
<center><h3>Book the holiday trip of your dreams!</h3></center>
<br />

<center>
    <h4>
        Lovely holiday in <font color=#ff9900><b>{{ destination.name }}</b></font> at our wonderful resort <font color=#ff9900><b>{{ accomodation.name }}</b></font>!
    </h4>
</center>

<center>
    <h5>
        A cozy {{ roomtype.name }} is waiting for you at the price of {{ price }}€/night.
    </h5>
</center><br />
<br />

<center><h4>Please choose email and/or phone notification for your booking.</h4></center>

{% if error|length > 0 %}
    <div class="alert alert-danger" role="alert">
            <ul>
                <center>{{ error }}</center>
            </ul>
    </div>
{% endif %}

<form method="POST" action="{{ url_for('bookings_create', destination_id=destination.id, accomodation_id=accomodation.id, roomtype_id=roomtype.id) }}" id="newform">
    <table class="table table-sm">
        <colgroup>
            <col class="col-md-1">
            <col class="col-md-1">
        </colgroup>
        <tr>
            <td>
                <span class="glyphicon glyphicon-lamp"></span> {{ form.nights.label }}
            </td>
            <td>
                {{ form.nights }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-envelope"></span> {{ form.email_notification.label }}
            </td>
            <td>
                {{ form.email_notification }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-phone-alt"></span> {{ form.phone_notification.label }}
            </td>
            <td>
                {{ form.phone_notification }}        
            </td>
        </tr>
    </table>
    {% if form.nights.errors|length > 0 %}
    <div class="alert alert-danger" role="alert">
            <ul>
                {{ form.nights.label }}
                {% for error in form.nights.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
    </div>
    {% endif %}
    <center><button type="submit" class="btn btn-default btn-lg">
            <font color=#ff9900><span class="glyphicon glyphicon-send"></span></font> Book
    </button></center>
</form>
{% endblock %}
