{% extends "layout.html" %}
  
{% block body %}
<center><h3><font color=#ff9900>Change</font> data</h3></center>
<br />

<form method="POST" action="{{ url_for('client_change') }}" id="changeform">
    <table class="table">
        <tr>
            <td>
                <span class="glyphicon glyphicon-user"></span> {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}             
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-home"></span> {{ form.address.label }}
            </td>
            <td>
                {{ form.address }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-globe"></span> {{ form.country.label }}
            </td>
            <td>
                {{ form.country }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-envelope"></span> {{ form.email.label }}
            </td>
            <td>
                {{ form.email }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-phone-alt"></span> {{ form.phone.label }}
            </td>
            <td>
                {{ form.phone }}
            </td>
        </tr>
    </table>
    {% if form.name.errors|length > 0 or form.address.errors|length > 0 or form.country.errors|length > 0 or form.email.errors|length > 0 or form.phone.errors|length > 0 %}
    <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in form.name.errors %}
                {{ form.name.label }}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for error in form.address.errors %}
                {{ form.address.label }}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for error in form.country.errors %}
                {{ form.country.label }}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for error in form.email.errors %}
                {{ form.email.label }}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for error in form.phone.errors %}
                {{ form.phone.label }}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
    </div>
    {% endif %}
    <center><button type="submit" class="btn btn-default btn-lg">
        <font color=#ff9900><span class="glyphicon glyphicon-ok"></span></font> Change
    </button></center>
</form>
{% endblock %}