{% extends "layout.html" %}

{% block body %}
<a class="btn btn-default btn-lg" href="{{ url_for('client_form') }}">
    <span class="glyphicon glyphicon-pawn"></span> New account
</a>

<h3>Login</h3><br />

<center>{{ error }}</center>

<form method="POST" action="{{ url_for('auth_login') }}">
    <table class="table">
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-pawn"></span>
                    {{ form.username }}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                    {{ form.password }}
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-ok-sign"<></span> Login
                </button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}