{% extends "layout.html" %}
  
{% block body %}
<center><h3>My page</h3></center>
<br />

<table>
    <tr>
        <td><span class="glyphicon glyphicon-user"></span> {{ client.name }}</td>
    </tr>
    <tr>
        <td><span class="glyphicon glyphicon-home"></span> <font color=#ff9900>{{ client.address }}</font></td>
    </tr>
    <tr>
        <td><span class="glyphicon glyphicon-globe"></span> {{ client.country }}</td>
    </tr>
    <tr>
        <td><span class="glyphicon glyphicon-envelope"></span> <font color=#ff9900>{{ client.email }}</font></td>
    </tr>
    <tr>
        <td><span class="glyphicon glyphicon-phone-alt"></span> {{ client.phone }}</td>
    </tr>
</table><br />
<br />

<h4><font color=#ff9900>Approved</font> bookings</h4><br />

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <span class="glyphicon glyphicon-th"></span> Booking number
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-plane"></span> Destination
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-tent"></span> Accomodation
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-bed"></span> Room-type
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-eye-open"></span> Person(s)
            </th>
            <th scope="col">
                    <span class="glyphicon glyphicon-lamp"></span> Nights
                </th>
            <th scope="col">
                <span class="glyphicon glyphicon-eur"></span> Price
            </th>
            <th scope="col">
                Notification
            </th>
        </tr>
    </thead>
    <tbody>
        {% if approved_bookings is defined %}
            {% for booking in approved_bookings %}
            <tr>
                <td>
                    {{ booking.booking_number }}
                </td>
                <td>
                    {{ booking.destination }}
                </td>
                <td>
                    {{ booking.accomodation }}
                </td>
                <td>
                    {{ booking.roomtype }}
                </td>
                <td>
                    {{ booking.size }}
                </td>
                <td>
                    {{ booking.nights }}€
                </td>
                <td>
                    {{ booking.price }}€
                </td>
                <td>
                    {% if booking.email %}
                        <span class="glyphicon glyphicon-envelope"></span>
                    {% endif %}
                    {% if booking.phone %}
                        <span class="glyphicon glyphicon-phone-alt"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table><br />

<h4><font color=#ff9900>Pending</font> bookings</h4><br />

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <span class="glyphicon glyphicon-th"></span> Booking number
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-plane"></span> Destination
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-tent"></span> Accomodation
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-bed"></span> Room-type
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-eye-open"></span> Person(s)
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-lamp"></span> Nights
            </th>
            <th scope="col">
                <span class="glyphicon glyphicon-eur"></span> Price
            </th>
            <th scope="col">
                Notification
            </th>
        </tr>
    </thead>
    <tbody>
        {% if not_approved_bookings is defined %}
            {% for booking in not_approved_bookings %}
            <tr>
                <td>
                    {{ booking.booking_number }}
                    <form method="POST" action="{{ url_for('bookings_delete', booking_id=booking.id) }}">
                        <button type="submit">
                            <font color=#ff9900><span class="glyphicon glyphicon-trash"></span></font>
                        </button>
                    </form>
                </td>
                <td>
                    {{ booking.destination }}
                </td>
                <td>
                    {{ booking.accomodation }}
                </td>
                <td>
                    {{ booking.roomtype }}
                </td>
                <td>
                    {{ booking.size }}
                </td>
                <td>
                    {{ booking.nights }}€
                </td>
                <td>
                    {{ booking.price }}€
                </td>
                <td>
                    {% if booking.email %}
                        <span class="glyphicon glyphicon-envelope"></span>
                    {% endif %}
                    {% if booking.phone %}
                        <span class="glyphicon glyphicon-phone-alt"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}    
    </tbody>
</table>
<br />

<table>
    <tr>
        <td colspan="2">
            <a class="btn btn-default btn-lg" href="{{ url_for('client_one_change') }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a class="btn btn-default btn-lg" href="{{ url_for('client_one_password_change') }}">
                <span class="glyphicon glyphicon-lock"></span>
            </a>
        </td>
    </tr>
</table>
<form method="POST" action="{{ url_for('client_delete') }}" id="changeform">
    <table>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}