{% extends "layout.html" %}
  
{% block body %}
<center><h3>Sign up as a <font color=#ff9900>new user</font></h3></center>
<br />

{% if error|length > 0 %}
    <div class="alert alert-danger" role="alert">
            <ul>
                <center>{{ error }}</center>
            </ul>
    </div>
{% endif %}

<form method="POST" action="{{ url_for('client_create') }}" id="newform">
    <table class="table">
        <tr>
            <td>
                <span class="glyphicon glyphicon-user"></span> {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-home"></span> {{ form.address.label }}
            </td>
            <td>
                {{ form.address }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-globe"></span> {{ form.country.label }}
            </td>
            <td>
                {{ form.country }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-envelope"></span> {{ form.email.label }}
            </td>
            <td>
                {{ form.email }}
            </td>
        </tr>
        <tr>
           <td>
                <span class="glyphicon glyphicon-phone-alt"></span> {{ form.phone.label }}
            </td>
            <td>
                {{ form.phone }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-pawn"></span> {{ form.username.label }}
            </td>
            <td>
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="glyphicon glyphicon-lock"></span> {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
        </tr>
    </table>
    {% if form.name.errors|length > 0 or form.address.errors|length > 0 or form.country.errors|length > 0 or form.email.errors|length > 0 or form.phone.errors|length > 0 or form.username.errors|length > 0 or form.password.errors|length > 0 %}
    <div class="alert alert-danger" role="alert">
            <ul>
                {% if form.name.errors|length > 0 %}
                    {{ form.name.label }}
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    <br />
                {% endif %}
            </ul>
            <ul>
                {% if form.address.errors|length > 0 %}
                    {{ form.address.label }}
                    {% for error in form.address.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    <br />
                {% endif %}
            </ul>
            <ul>
                {% if form.country.errors|length > 0 %}
                    {{ form.country.label }}
                    {% for error in form.country.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    <br />
                {% endif %}
            </ul>
            <ul>
                {% if form.email.errors|length > 0 %}
                    {{ form.email.label }}
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    <br />
                {% endif %}
            </ul>
            <ul>
                {% if form.phone.errors|length > 0 %}
                    {{ form.phone.label }}
                    {% for error in form.phone.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    <br />
                {% endif %}
            </ul>
            <ul>
                {% if form.username.errors|length > 0 %}
                    {{ form.username.label }}
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    <br />
                {% endif %}
            </ul>
            <ul>
                {% if form.password.errors|length > 0 %}
                    {{ form.password.label }}
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    <br />
                {% endif %}
            </ul>
    </div>
    {% endif %}
    <center><button type="submit" class="btn btn-default btn-lg">
        <font color=#ff9900><span class="glyphicon glyphicon-ok-sign"></span></font> Sign up
    </button></center>
</form>
{% endblock %}